<section id="myPosts">
  <div class="conatiner p-5">
    <app-message></app-message>
    <div *ngIf="!posts" class="m-auto">
      <h1 class="text-center display-3 mt-5">
        <i class="fa fa-spinner fa-spin"></i>
      </h1>
    </div>
    <h3 *ngIf="posts && !posts.length" class="text-center display-2 mt-5">Empty</h3>
    <div *ngIf="posts && posts.length" class="row">
      <div class="col">
        <h4 class="display-4">My Posts</h4>
        <div class="row">
          <div class="offset-10 col-2 d-none d-md-block">
          </div>
        </div>
          <hr class="mt-0">
          <div *ngFor="let post of posts" class="post">
            <div class="row">
              <div class="col-4 col-md-2">
                <a routerLink="/post/{{ post._id }}">
                  <img src="{{ post.image }}" class="img-fluid img-thumbnail">
                </a>
              </div>
              <div class="col-5 col-md-8">
                <h5>
                  <a routerLink="/post/{{ post._id }}">{{ post.title }}</a>
                </h5>
              </div>
            </div>
            <hr>
          </div>
          <button class="btn btn-info" routerLink="/profile">Back</button>
          <button class="btn btn-danger" routerLink="/profile/newpost" style="margin-left: 1rem;">Create Post</button>
        </div>
      </div>
  </div>
</section>
